.profile-container {
  padding: 12px 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .section-header, .user-headline {
    text-decoration: underline;
  }
  .avatar-section {
    .avatar {
      background-color: white;
    }
  }
  .skills-section {
    .mat-chip-list-stacked {
      padding: 20px;
      .skill-item {
        color: white;
        font-weight: bold;
        max-width: 180px;
      }
    }

  }
  .contact-section {
    .github-link, .email {
      text-indent: 20px;
    }
    .github-link {
      color: white;
      display: inline-block;
    }
  }
}


