.spacer {
  flex: 1 1 auto;
}

#toolbar {
  .toolbar-menu-container {
    height: auto;
    display: flex;
    justify-content: space-between;
    * {
      flex: 1 0 auto;
    }
  }
}

#app-container {
  height: 100vh;
  display: flex;
  overflow: auto;

  .main-content-container {
    width: 100%;
    .content {
      height: 100%;
      .content-layout {
        padding: 16px;
        display: flex;
        flex-direction: column;
      }
    }
  }

}

