<mat-toolbar [color]="'primary'" id="toolbar">
  <button class="menu-toggle-btn" mat-button="">
    <mat-icon>reorder</mat-icon>
  </button>
  <div class="spacer"></div>
  <h1 class="tool-bar-title">Coder's Directory</h1>
  <div class="spacer"></div>
  <div class="toolbar-menu-container">
    <button class="menu-icon-btn" mat-button="">
      <mat-icon>home</mat-icon>
    </button>
    <button class="menu-icon-btn" mat-button>
      <mat-icon>people</mat-icon>
    </button>
    <button class="menu-icon-btn" mat-button>
      <mat-icon>account_box</mat-icon>
    </button>
  </div>
</mat-toolbar>
